@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto in Scarpe&Co.</h1>
    <h3>Vai ai nostri <a asp-controller="Articoli" asp-action="Index">ARTICOLI</a></h3>
</div>
