@model ArticoliViewModel
@{
	ViewData["Title"] = "Articoli";
}
<h1 class="text-center text-info my-3">Articoli</h1>
<div class="container">
        @foreach (var articolo in Model.Articoli)
        {
            <div class="card mb-3" style="height: 400px">
                <div class="row g-0 align-items-center">
                    <div class="col-md-4 overflow-hidden" style="height: 400px">
                        <img src=@articolo.Copertina class="img-fluid rounded-start rounded-end" alt="scarpa" />
                    </div>
                    <div class="col-md-8 h-100">
                        <div class="row card-body text-center justify-content-center h-100 align-content-around">
                            <div class="col-12 mb-3">
                                <h3 class="card-title fw-bold">@articolo.Nome</h3>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-9 my-3">
                                <p>@articolo.Descrizione</p>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-12">
                                <p class="card-text fw-bold">€ @articolo.Prezzo</p>
                            </div>
                            <div class="col-12 text-end">
                            <a asp-controller="Articoli" asp-action="Info" asp-route-id="@articolo.Id" class="me-4 text-decoration-none"><i class="bi bi-info-circle"></i> Info</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        }
</div>
   